HOSTNAME=localhost
HOST_PORT=63398

CONTENT_URL=http://localhost:63398/content

API_KEY="some API access key"
API_SECRET="an API access secret"
TOKEN_SECRET="some random string"

LRS_ENDPOINT="http://host.docker.internal:8081/20.1.x/lrs/default/"
LRS_USERNAME="dev-tools-xapi"
LRS_PASSWORD="dev-tools-xapi-password"
